h2 {
	color: #94e1f2;background-color: rgb(79, 146, 161);
}

h1{
	color: green;
}

button{
	color: red; background-color: pink;
}

p{
	color: white; background-color: black;
}

body{
	background-color: #aa89e8;
}